@import "../var";
@import "../mixin";

.footer {
  padding: 48px 0;
  text-align: center;
}

.footer__social {
  @include list-reset;
  padding: 36px 0;
}

.footer__author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin-right: 15px;
  line-height: 18px;
  color: $blue;
  font-style: normal;
}

.footer__link {
  display: block;
  width: 26px;
  height: 34px;
}

.main--index + .footer {
  display: none;
}

@media (min-width: $tablet-width) {
  .main--index + .footer {
    display: flex;
  }

  .footer {
    padding: 0 $content-padding 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__social {
    padding-right: 20px;
    padding-top: 41px;
  }

  .footer__author {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 20px 130px 30px;
  }
}
