$tablet-width: 768px;
$desktop-width: 1200px;

.home-screen {
  min-height: 270px;
  background: #2b3848;
  color: #ffffff;
}

.home-screen__download {
  padding: 18px 5px 18px 5px;
  font-size: 18px;
  margin-top: 28px;
  width: 280px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  background: transparent;
}

.home-screen__platform-list {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

@media (min-width: $tablet-width) {
  .home-screen {
    position: absolute;
    top: 350px;
    background: transparent;
    max-width: 320px;
    padding: 20px;
  }
}
