.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address__title.custom-paragraph {
  &:first-child {
    padding: 50px 0 10px 0;
  }
  &:nth-child(2) {
    padding: 0 0 20px 0;
  }
}

.address__connect {
  padding: 0;
  margin: 20px 0 0 0;
}
