$tablet-width: 768px;
$desktop-width: 1200px;

.advantages {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
  }

  .advantages__content {
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin: 0 auto;
  }
}
