.contacts {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
}

.contacts__label {
  align-self: start;
  padding: 10px 40px;
  color: #d22856;
}

.contacts__input {
  width: 280px;
  height: 30px;
  border: 2px solid #e5e5e5;
}
