body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 280px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}